/* CRAFTILI PAGE */
.websiteContainer{
max-width: 600px;
}
video{
width: 100%;
padding-bottom: 12px;
float:right;
}

#descHeader{
  text-decoration: underline;
  padding-bottom:0px;
}
.projDescription{
  text-indent: 12px;
  text-align: justify;
  margin-bottom: 12px;
  max-width: 600px;
}

.contentDivCraftili {
  position: relative;
  bottom: -8px;
  width: 100%;
  padding-bottom:0px;
}
