#wrap {
letter-spacing: .2px;
font-size: 18px;
font-family: 'Arial';
}

#intro {
margin-left: 60px;
margin-right: 800px;
margin-bottom: 20px;
margin-top: 50px;
font-family: 'Arial';
font-size: 18px;
}


#header{
margin-top: 20px;
}

#name{
  margin-left: 20px;
}

 #title {
   margin-left: 300px;
   margin-top: -20px;
   margin-bottom: 30px;
 }
 #menu {
   margin-left: 900px;
   margin-top: -50px;
   margin-bottom: 30px;
 }
#menu_drop_down{
  margin-left: 950px;
  margin-top: -137px;
  padding-bottom: 0px;
}
 #about {
   margin-left: 20px;
   padding-right: 900px;
   margin-top: -50px;
 }

#read_more{
  position: fixed;
  margin-top: -61px;
  margin-left: 358px;
}

 #cvl:hover {
 text-decoration: underline;
 }


.my_work {
 margin-top: 50px;
 margin-left: 20px;
}

#email{
  margin-left: 20px;
  margin-bottom: -20px;
}
#cv_resume{
  margin-left: 300px;
  margin-bottom: -20px;

}

#credit{
   margin-left: 900px;
   margin-bottom: 0px;
}



#linked:hover{
  text-decoration: underline;
}

.panel
{
margin-top: -1px;
  margin-left: 20px;
  font-family: Arial;
}

#about {
  margin-top: -78px;
  margin-right: -200px;
}
#design
{
  font-style: italic;
  margin-top: 7px;

}
 #major{
   font-style: italic;
 }
#schools{
  margin-left: 15px;
  letter-spacing: -1px;

}
#portal {
  width: 500px;
  float:right;
  margin-right: 50px;
  height: auto;
}

/* THIS IS NOW THE MY WORK PAGE*/
/* Style the buttons that are used to open and close the accordion panel */
#playground_intro {
  line-height: 30px;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  font-family: 'Inter';
  font-size: 20px;
}
.accordion {
  margin-left: 0px;
  margin-right: 50px;
  margin-bottom: 20px;
  color: black; /*everything inside the div */
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  fixed: bottom;
  margin-left: 30px;
  margin-top: 500px;
  font-family: 'arial'
}
