@font-face {
font-family: Inter;
src: url(“fonts/Inter-Medium.otf);
}
@font-face {
  font-family: Inter SemiBold;
  src: url("fonts/Inter-SemiBold.otf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.5px;
  //border-style: dotted;
}

body{
  font-family: Inter;
}


.websiteContainer {
  padding-top: 0vh;
  margin: 20px;
  text-align: left;
  border-color: green;
}


.headerInfo {
  padding-bottom: 12px;
  padding-right: 0px;
  float: left;
  width: 200px;
  //max-width: 200px;
  border-color: yellow;
}
.topHalf{
  padding-right:0px;
}
.headerInfo:hover{
  text-decoration: underline;
}

#headerInfoLink:link    {color:#000;}  /* unvisited link  */
#headerInfoLink:visited {color:#000;}  /* visited link    */
#headerInfoLink:hover   {color:black;}  /* mouse over link */
#headerInfoLink:active  {color:#000;}  /* selected link   */
.topHalf{
  display: flex;
}
.bio{
  padding-right: 24px;
  padding-bottom: 12px;
  display: flex;
  float: left;
  border-color: red;
  width: 90vw;
  max-width: 400px;

}

.portfolio{
  margin-top: 24px;
  position: relative;
  float: left;
  min-width: 100%;
  border-color: green;
}

.portfolioSpace{
 padding-right: 92px;
}

.contentDiv {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom:12px;
  margin-top: 0px;
  border-color: blue;
}

.projects {
  margin-bottom: 8px;
}


@media screen and (max-width: 800px) {
  .portfolioSpace{
    padding-right: 24px;
  }
  .headerInfo{
    width:100%;
  }
  .contentDiv {
    width:100%;
  }
.bio{
  float: left;
  width: 100%;
}
.topHalf{
  display: block;

}
}

}
