@font-face {
font-family: Inter;
src: url(“fonts/Inter-Medium.otf);
}
@font-face {
  font-family: Inter SemiBold;
  src: url("fonts/Inter-SemiBold.otf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Inter SemiBold;
  font-size: 14px;
}

.image {
  width: 40%;
  border: 0px;
}
.containerDiv{
  display: flex;
}
.image2 {
  width: 70%;
  border: 0px;
}
.big {
  padding-right: 50vw;
}
.big_footer{
  padding-right: 60vw;
}
.small {
  padding-right: 20vw;
}
.bio{
  padding-bottom: 24px;
  padding-right: 0;
  font-size: 18px
  position: flex;
}
.footer
{
  position: fixed;
  bottom: 0px;
}

.websiteContainer {
  padding-top: 0vh;
  margin: 20px;
  max-width: 300px;
  text-align: left;
}

.headerInfo {
  padding-bottom: 12px;
  line-height: 20px;
}

.contentDiv {
  margin-top: 0px;
  padding-right: 45vw;
  line-height: 12px;
}

.projects {
  margin-bottom: 8px;
}
